html {
    background-color: #e8f8ff;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
        left: -8px;
            top: -24px;
            width: 100%;
            height: 12%;
}
#navigation {
    width: 100%;
    background-color: #22e28c;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 50px;
        padding: 20px;
}
/* this might need work based on the fact that the text doen't resize correctly at small displays */

a1 {
    text-decoration: None;
    color: #051031;
    font-size: xx-large;
}
p1 {
font-size: xx-large;
}