html {
    background-color: #e8f8ff;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
        left: -8px;
            top: -24px;
            width: 100%;
            height: 12%;
}
#navigation {
    width: 100%;
        height: 100%;
    background-color: #22e28c;
    opacity: 80;
}
h1 {
    text-align: center;
}