html {
    background-color: #e8f8ff;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
        left: -8px;
            top: -24px;
            width: 100%;
            height: 12%;
}
#navigation {
    width: 100%;
    background-color: #22e28c;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
}
/* this might need work based on the fact that the text doen't resize correctly at small displays */

a {
    text-decoration: None;
    color: #051031;
    font-size: x-large;
}
p1 {
font-size: xx-large;
}
#heading {
    max-width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #22e28c;
    opacity: 80%;
    margin-top: 50px;
        padding: 10px;
}
#text {
    width: 500px;
    height: 300px;
    background-color: #0d48b5;
        opacity: 80%;
        max-width: 100%;
            display: flex;
            justify-content: space-around;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 50px;
                margin-bottom: 50px;
            flex-wrap: wrap;
            column-gap: 50px;
            row-gap: 50px;
            border-radius: 50px;
            padding: 40px;
}

hr {
    max-width: 650px;
        margin-left: 3%;
}
h1 {
    font-size: xx-large;
    color: #051031;
}